# Object files
*.o
*.obj

# Libraries
*.a
*.lib

# Executables
server
client
server_bonus
client_bonus
*.out
*.exe

# System files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
*.swp
